extends ../layout

block styles
  link(href="stylesheets/style.css", rel="stylesheet")
block content
  div(class="mdl-grid login")
    div(class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone")
      img(src="images/toplogo.png", class="logo")
    div(class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone")
      a(href="/auth/google", class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-in") Ingresar
