extends ../layout

block styles
  link(href="stylesheets/login.css", rel="stylesheet")
block content
    div(id="app", class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer")
block scripts
  script(src="static/js/bundle.js")